<footer id="about">
    <div class="about-content">
		<br>
        <div class="clearfix">
            <div class="about-left">
                <h2>Friends</h2>
<!--				<div class="weibo-con">
                <iframe width="100%" height="75" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=75&fansRow=2&ptype=1&speed=0&skin=5&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=1766883117&verifier=8a47f048&colors=d6f3f7,262626,666666,768fcf,ffffff&dpc=1"></iframe>
				</div>
-->           <p><a href="http://loyoen1990.blog.163.com/" class="external" target="_blank" title="loyoen">loyoen</a>
			  <br/>
              <a href="http://kymowind.blog.163.com/" class="external" target="_blank" title="Kymo">Kymo</a><br/>
			  <a href="http://mawenhao19930620.blog.163.com/" class="external" target="_blank" title="GhostBoyZone">GhostBoyZone</a><br/>
              </p>
			</div>
            <div class="about-left about-more">
                <h2>Tools</h2>
                    <a href="/wiki" title="Wiki"> Wiki </a><br/>
					<a href="/404.html" title="404"> 404 </a><br/>
					<a href="/test.html" title="Test"> Test </a><br/>
            </div>
            <div class="about-left about-more">
                <h2>About</h2>
                <p>
                    格林布鲁布鲁<a href="http://weibo.com/greenblueblue" class="external" target="_blank" title="格林布鲁布鲁的新浪微博">@新浪微博</a><br/>
                    Green<a href="http://www.douban.com/people/chibao007/" class="external" target="_blank" title="Green的豆瓣">@豆瓣</a><br/>
                   GreeenSY<a href="https://github.com/greeenSY" class="external" target="_blank" title="greeenSY的github">@GitHub</a><br/>
                </p>
            </div>
        </div>
        <div class="copyright" style="text-align:center">
            <p>Copyright © 2013   <a href="/about" title="greenSY" target="_blank">GreeenSY</a> </p>
        </div>
    </div>
</footer>
